/*
======== animation ========
*/
.vegas-animation-kenburns {
  animation: kenburns ease-out;
}
@keyframes kenburns {
  0% {
      transform: scale(1);
  }
  100% {
      transform: scale(1.16);
  }
}

/*
======== mainvisual ========
*/
#top-mainvisual {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#top-mv-inner {
  position: relative;
  width: 100%;
  height: 100vh;
}
#top-mv-title {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 3.6rem;
  color: #fff;
  text-shadow: 0px 0px 10px #3d3d3d;
  text-align: center;
  width: 100%;
  margin: 0;
}

/*
======== top-about ========
*/
#our-message {
  text-align: center;
}

/*
======== top-business ========
*/
#business-left {
  width: 46%;
}
#business-right {
  width: 50%;
}
#business-list.flex-box {
  flex-wrap: wrap;
}
#business-list li {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 50%;
}
#business-list li:first-child {
  width: 100%;
}
#business-list li a {
  display: block;
  height: 250px;
}
#business-list h3 {
  position: absolute;
  display: block;
  text-align: center;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  color: #fff;
  font-size: 2rem;
}
#business-list li:first-child h3 {
  font-size: 4rem;
}

/*
======== top-item ========
*/
#item-container li {
  width: 23%;
  margin-bottom: 25px;
}
#item-container li h3 {
  border-bottom: 1px solid #111;
  text-align: center;
  font-size: 1.8rem;
  line-height: 1;
  padding: 12px 0;
}
#item-container li p {
  font-size: 12px;
  margin-top: 12px;
  margin-bottom: 0;
}

/*
======== top-blog ========
*/
#blog-container .blog-list.flex-box {
  justify-content: space-between;
}
#blog-container .blog-item {
  width: 30%;
}
#blog-container .blog-info {
  margin-bottom: 10px;
}
#blog-container .blog-info-box {
  box-sizing: border-box;
  background-color: #fff;
  padding: 14px 20px;
}
#blog-container .blog-info-box .date span{
  font-size: 1.2rem;
}
#blog-container .blog-info-box .category span{
  display: inline-block;
  box-sizing: border-box;
  background-color: #eee;
  font-size: 1.2rem;
  line-height: 1;
  padding: 4px 10px;
}
#blog-container .blog-info-box .title span{
  font-size: 1.6rem;
}



/*
======== top-news ========
*/
#news-container .flex-box {
  justify-content: flex-start;
  align-items: center;
}
#news-container li {
  border-bottom: 1px solid #111;
  width: 100%;
  padding: 20px 10px;
}
#news-container li:last-child {
  border-bottom: 0;
}
#news-container li .date {
  font-size: 1.4rem;
  margin-right: 30px;
}
#news-container li .category {
  font-size: 1.4rem;
  margin-right: 60px;
}
#news-container li .category a {
  display: inline-block;
  background-color: #eee;
  padding: 2px 16px;
}
#news-container li .title {
  font-size: 1.8rem;
}

/*
======== top-contact ========
*/
#top-contact .contact-box {
  border: 1px solid #eee;
  background-color: #fff;
  box-sizing: border-box;
  text-align: center;
  width: 48%;
  padding: 36px 36px;
}
#top-contact .contact-box h3 {
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 20px;
}
#top-contact .contact-box .tel {
  font-size: 2.2rem;
  font-weight: bold;
}
#top-contact .contact-box .office-hours {
  font-size: 1.4rem;
  margin-top: 6px;
}
#top-contact .contact-box .more-btn {
  font-size: 2rem;
  margin-top: 26px;
}
