#step-up-style h1 {
  font-size: 4rem;
  color: #111;
}
#step-up-style h2 {
  font-size: 3.2rem;
  color: #111;
}
#step-up-style .little-late-scroll {
  background-image: url(./images/mv_animation_03_01.jpg);
  background-size: cover;
  width: 100%;
  height: 500px;
}
