/*
======== animation ========
*/
.vegas-animation-kenburns {
  animation: kenburns ease-out;
}
@keyframes kenburns {
  0% {
      transform: scale(1);
  }
  100% {
      transform: scale(1.16);
  }
}

/*
======== mainvisual ========
*/
#top-mainvisual {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#top-mv-inner {
  position: relative;
  width: 100%;
  height: 100vh;
}
#top-mv-title {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 3.6rem;
  color: #fff;
  text-shadow: 0px 0px 10px #3d3d3d;
  text-align: center;
  width: 100%;
  margin: 0;
}

/*
======== about ========
*/
#top-about-box li {
  border: 1px solid #CCCCCC;
  font-size: 1.4rem;
  width: 23%;
  p {
    margin-bottom: 10px;
  }
  .txt-box a {
    text-align: right;
  }
}
